<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <runtime>
    <!-- 强制启用 TLS 1.2 -->
    <AppContextSwitchOverrides value="Switch.System.Net.DontEnableSystemDefaultTlsVersions=false"/>
  </runtime>
  <system.net>
    <settings>
      <!-- 启用 TLS 1.2 支持 -->
      <servicePointManager expect100Continue="false" checkCertificateRevocationList="false"/>
    </settings>
  </system.net>
</configuration>
